@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ps5vwv');
  src:  url('fonts/icomoon.eot?ps5vwv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ps5vwv') format('truetype'),
    url('fonts/icomoon.woff?ps5vwv') format('woff'),
    url('fonts/icomoon.svg?ps5vwv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e902";
}
.icon-map-pin:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-whatsapp:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e942";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram1:before {
  content: "\ea92";
}
.icon-whatsapp1:before {
  content: "\ea93";
}
